:root {
  --bg-blue: black;
  --color-pastel: #cdcdc1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: black;
  color: white;
}

img {
  max-width: 100%;
}

input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--color-pastel);
  color: black;
}

input[type="submit"] {
  align-self: flex-start;
  background-color: blue;
  color: white;
}

textarea {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-pastel);
  color: black;
  resize: none;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

select option {
  text-transform: capitalize;
}

a {
  font-size: 1.1rem;
}

hr {
  background-color: white;
  height: 1px;
}

.main {
  padding: 0px 50px 0px 50px;
}

/* INDEX PAGE */

.index-listings-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.index-listing {
  display: flex;
  gap: 30px;
  border: 1px solid white;
}

.listing-details {
  padding: 20px 5px;
}

.index-listing .listing-img {
  flex-basis: 20%;
}

/* INDEX PAGE END */

/* create listing page */

.create-listing-form {
  width: 50%;
}

.create-listing-form div {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 20px 0px;
}

/* CREATE LISTING END */

.categories-page li {
  text-transform: capitalize;
}

.closed {
  background-color: gray;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.winner-div {
  background-color: green;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
