.google-advsearch-section {
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.google-advsearch-section h2 {
  color: var(--g-orange);
}

.search-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.search-form .field input {
  background-color: #1f1f1f;
  border: 0.5px solid var(--color-grey-light);
  width: 65%;
  padding: 4px;
}
.search-form .field input:focus {
  border-color: blue;
}

.search-form .field {
  display: flex;
  justify-content: space-between;
}

.search-form label {
  font-size: 0.8rem;
  color: rgb(186, 186, 186);
}

/* styling submit-btn */
.search-form input[type="submit"] {
  background-color: blue;
  padding: 10px;
  width: fit-content;
  align-self: flex-end;
}
