.google-img-search-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 60px;
}

.google-logo {
  width: 350px;
}

.search-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.search-form input[name="q"] {
  width: 45vw;
  padding: 15px 20px;
  background-color: var(--color-grey-light);
  border-radius: 30px;
}

/* styling submit-btn */
.search-form input[type="submit"] {
  width: fit-content;
  padding: 10px;
  background-color: var(--color-grey);
  border-radius: 4px;
}
