*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: #1f1f1f;
  --color-grey-light: #4d5156;
  --color-grey: #616370;
  --white: white;
}

body {
  background-color: var(--bg-color);
  color: white;
  font-family: Inter, Arial, sans-serif;
  font-size: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  font-size: 0.9rem;
  color: var(--white);
}

input {
  color: white;
  font-size: 1rem;
  border: none;
}

nav {
  padding: 20px;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  list-style-type: none;
}

.google-search-section {
  /* padding: 80px 0 0 0; */
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.google-logo {
  width: 350px;
}

.search-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.search-form input[name="q"] {
  width: 45vw;
  padding: 15px 20px;
  background-color: var(--color-grey-light);
  border-radius: 30px;
}
.search-form input[name="q"]:focus {
  outline: none;
}
.search-form input[type="submit"] {
  width: fit-content;
  padding: 10px;
  background-color: var(--color-grey);
}

.lucky-btn {
  width: fit-content;
  padding: 10px;
  background-color: var(--color-grey);
}
