{% extends "auctions/layout.html" %}

{% block title %}
{{ auction.title }}
{% endblock %}
 
{% block body %}



<!-- CLOSER BY OWNER -->
{% if user.is_authenticated and is_owner and is_active %}
<div>
    <h2>Close Auction</h2>
    <a href="{% url 'close_auction' auction.id %}">Close</a>
    <hr>
</div>
{% endif %}



<!-- AUCTION CLOSED -->
{% if not is_active %}
<div class="closed">
    <h2>This Auction has been closed</h2>
</div>

{% endif %}



<!-- WINNER -->
{% if user.is_authenticated and is_winner %}
<div class="winner-div">
    <h2>Congratulations! You're the winner of this auction</h2>
</div>
{% endif %}



<!-- if added_watchlist true, remove_watchlist else add_watchlist -->
{% if added_watchlist %}
    <a href="{% url 'remove_watchlist' auction.id %}">Remove from watchlist</a>
{% else %}
    <a href="{% url 'add_watchlist' auction.id %}">Add to watchlist</a>
{% endif %}


<h1>Listing: {{ auction.title }}</h1>

{% if auction.img_url %}
    <img src="{{ auction.img_url }}" alt="">
{% endif %}

<p>{{ auction.description }}</p>

<h2>${{ bid_price }}</h2>


<!-- BID SECTION -->

{% if user.is_authenticated  and is_active %}

<div class="bid-section">
        <p>{{ bids_count }} bid(s) so far.</p>
        <form action="{% url 'bid_view' auction.id %}" method="post">
            {% csrf_token %}
            {{ bidForm }}
            <input type="submit" value="Place bid">
        </form>
    </div>
{% endif %}

<div class="details-section">
 <h3>Details</h3>
 <ul>
    <li>Listed by: {{ auction.owner }}</li>
    {% if auction.category %}
    <li>Category: {{ auction.category }}</li>
    {% else %}
    <li>Category: No Category Listed</li>
    {% endif %}
 </ul>
</div>

<div class="make-comment">
    <h2>Make a comment</h2>
    <form action="{% url 'comment_view' auction.id %}" method="post">
        {% csrf_token %}
        {{ commentForm }}
        <input type="submit" value="comment" >

    </form>
</div>

<div class="comments-section">
    <h2>Comments:</h2>
    {% for comment in comments %}
        <div>
            <h3>User: {{ comment.comment_by.username }}</h3>
            <p>{{ comment.comment_text }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No comments made yet</p>
    {% endfor %}    
</div>

{% endblock %}