textarea {
  min-height: 400px;
}

.email-div {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.read {
  background-color: gray;
}
